.newpost{
    width: 100%;
    background-color: white;
    height: 200px;
    margin-top: 82px;
    position: relative;
    padding: 20px;
}
.postinput{
    width: 100%;
    height: 70px;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
    padding: 20px;
    display: inline;
    overflow: hidden;
}
.postbutton{
    height: 60px;
    float:right;
    width: 100%;
    background-color: #3498db;
    border: none;
    color: white;
}
.postextras{
    height:60px;
    display: inline-block;
    text-align: left;
    background-color: white;
}
.buttoncontainer{
    height: 60px;
    background-color: white;
}
.postinterests{
    height: 60px;
    padding: 0px;
}
.postextraimages{
    width: 25px;
    margin-left: 20px;
}
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}
.custom-select {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-color: whitesmoke;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid whitesmoke;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    border: none;
    background-color: #305c91;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: whitesmoke;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: whitesmoke;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.error{
    border: 1px solid red;
}

